.imagen {
  width: 40px;
  height: 40px;
  top: 60px;
  left: 311px;
  border-radius: 50%;
}
.h2 {
  background: #A1A7B0;
  width: 81px;
  height: 20px;
  top: 56px;
  left: 24px;
}
.p {
  background: #464646;
  width: 86px;
  height: 24px;
  top: 80px;
  left: 24px;
}
.img {
  background: #A1A7B0;
  width: 10px;
  height: 6px;
  top: 91px;
  left: 122px;
}
