.imagenes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
}

.stack {
  position: relative; /* Agrega esta propiedad para posicionar los indicadores con respecto a las imágenes */
}

.stack img {
  max-width: 300px;
  height: 336px;
  display: none;
  border-radius: 24px;
}

.stack img.active {
  display: block;
}

.indicators {
  display: flex;
  gap: 10px;
  position: relative; /* Posiciona los indicadores sobre las imágenes */
  bottom: 10px;
  left: 50%;
  transform: translateX(-210%);/*-140px*/
}

.indicators span {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.indicators span.active {
  background-color: #333;
} 